<script>
    export let name;
</script>

    <head>
    <link rel="stylesheet" href="https://unpkg.com/xp.css@/dist/98.css">
    </head>

<body>
<div id="rectangle">
<button>
<img id = "windows" src ="https://win98icons.alexmeub.com/icons/png/windows-0.png">
 &nbsp <b>Start</b>
</button>
</div>


</body>

<style>
    #windows{
        position:absolute;
        top:10%;
        left: 0%;
        width:20px;
        height:20px;
    }
    body{
        background-image: url('./wallpaper.png');
        background-repeat: repeat;
        background-size: cover;
        background-size: 100% 100%;
    }
    button{
        height: 26px;
        width: 70px;
        position:absolute;
        left: 5;
        top: 5%;
        bottom:1;
        font-family:MS Sans Serif
    }

    #rectangle{
        position: absolute;
        width:100%;
        height:30px;
        bottom: 0;
        background: #d4cccb;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

</style>
